@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* All */
* {
    font-family: 'Poppins', sans-serif;
}
/* Classes */
.weatherTile {
    background-color: #eee2d2;
    border: 2px solid #333; /* Dark border */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.container {
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    min-height: 100vh;
    text-align: center;
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
   
}
.logo {
    width: 200px; 
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.item {
    padding: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
/* Elements */
ul {
    list-style-type: none;
}
h2 {
    text-align: center;
}
body {
    padding: none;
    margin: none;
}
/* Components */
/* Styles for the NavBar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbar-brand {
    font-size: 24px;
    color: white;
    font-weight: bold;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s;
  }
  
  .nav-item a:hover {
    background-color: #555;
    border-radius: 5px;
  }